.titleName{
  text-align: center;
  background-color: #fe8228;
  height: .4rem;
  width: 100%;
  color: #fff;
  line-height: .4rem;
  font-size: .2rem;
}
.titleName span{
  display: inline-block;
  margin: 0 auto;
}
.close{
  left: .05rem;
  width: .3rem;
  height: .3rem;
  background: url(../../images/back@2x.png) no-repeat;
  float: left;
  margin: 5px 10px;
  position: absolute;
}
.sure{
  position: absolute;
  right: .1rem;
}