.titleName{
  text-align: center;
  background-color: #fe8228;
  height: .4rem;
  width: 100%;
  color: #fff;
  line-height: .4rem;
  font-size: .2rem;
}
.titleName span{
  display: inline-block;
  margin: 0 auto;
}
.close{
  background: url(../../images/back@2x.png) no-repeat;
  width: 16px;
  height: 30px;
  float: left;
  margin: 5px 10px;
}