i{
  font-style: normal;
}
.track{
  //height: 100%;
  //padding: 0 .15rem;
  background-color: #fff;
}
.main{
  padding: .15rem .15rem 0 .15rem;
}
.mains{
  border-bottom: 1px solid #efecec;
}
.mains>div{
  display: inline-block;
  width: 50%;
  line-height: .2rem;
}
.mains i{
  width: .6rem;
  display: inline-block;
}
.mains>div:nth-child(odd) i{
  width: .5rem;
}
.mains p{
  margin: .1rem 0;
}
//.mains span{
//  margin-left: 0.1rem;
//}
.notMore{
  margin: .2rem 0;
  text-align: center;
}