/**
 * Created by Amg on 2017/1/12.
 */
@import '../val-home';

.buttons {
  width: 100%;
  margin: .05rem 0;
}

.button {
  padding: 0.7em 1em;
  border-radius: 2px;
  background-color: #fff;
}

.close {
  width: 42%;
  margin-right: 3%;
  border: 1px solid #ccc;
}

.confirm {
  width: 55%;
  color: #fff;
}

@each $key, $color in $buildingColor {
  .#{$key} {
    background-color: $color;
    border: 1px solid $color;
  }
}

.prompt {
  font-size: .11rem;
  display: inline-block;
  font-size: .11rem;
  color: gray;
  width: 100%;
  text-align: center;
}


