@import '../val-home';

.setting {
  width: 100%;
  font-size: $buildingFont;
}

.title {
  width: 7*$buildingFont;
  height: 100%;
  vertical-align: top;
}

.content {
  width: auto;
  padding-bottom: .05rem;
}

.item {
  display: inline-block;
  width: 30%;
  text-align: center;
  border: solid .01rem gray;
  border-radius: 0.02rem;
  margin: 0 0 2% 2%;
}

@each $key, $color in $buildingColor {
  .#{$key} {
    .active {
      border-color: $color;
      background-color: $color;
    }
    .except {
      b {
        display: inline-block;
        padding: 0 0.05rem;
        color: $color;
      }
    }
  }
}

.prompt {
  display: inline-block;
  width: 100%;
  height: 1.5*$buildingFont;
  line-height: 1.5*$buildingFont;
  text-align: right;
  span {
    padding-left: $buildingFont;
  }
}

.tips {
  color: gray;
}


