@import '../val-home';

.setting {
  width: 100%;
  font-size: $buildingFont;
}

.title-dcb {
  width: 7*$buildingFont;
  height: 100%;
}

.title-dwb {
  width: 3.5*$buildingFont;
  height: 100%;
}

.less-height {
  vertical-align: baseline;
  line-height: 1.3*$buildingFont;
}

.content {
  width: auto;
  padding-bottom: .05rem;
}

.item {
  display: inline-block;
  width: 31%;
  text-align: center;
  border: solid .01rem $colorGray;
  border-radius: 0.02rem;
  margin: 2% 0 0 2%;
  height: 0.3rem;
  line-height: 0.3rem;
}

.item-line {
  width: 14.5%;
}

@each $key, $color in $buildingColor {
  .#{$key} {
    .active {
      border-color: $color;
      background-color: $color;
      color: #fff;
    }
  }

  :global .drag-#{$key} {
    #dragBlock, #dragLeft {
      background-color: $color;
    }
  }

}

.info {
  display: inline-block;
  width: 100%;
  height: 1.5*$buildingFont;
  line-height: 1.5*$buildingFont;
}

.drag-box {
  width: 97%;
  position: relative;
  button {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    width: 2*$buildingBtnF;
    height: 2*$buildingBtnF;
    line-height: 2*$buildingBtnF;
    font-size: $buildingBtnF;
    border: solid .01rem $colorGray;
  }
  button:first-child {
    left: 0;
  }
}

.prompt {
  display: inline-block;
  width: 100%;
  height: 1.8*$buildingFont;
  line-height: 1.8*$buildingFont;
  text-align: right;
  span {
    padding-left: $buildingFont;
  }
}

.color-gray {
  color: gray;
}

.color-red {
  color: $colorRed;

  b {
    display: inline-block;
    padding: 0 0.02rem;
  }
}


