@import '../val-home';

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  animation: show-overlay 0.25s ease-in forwards;
}

.title {
  text-align: center;
  height: $buildingTitleH;
  line-height: $buildingTitleH;
  background: #fff;
  border-bottom: solid .01rem $colorGray;
  span {
    height: $buildingTitleF;
    line-height: $buildingTitleF;
    font-size: $buildingTitleF;
    vertical-align: middle;
    i {
      display: inline-block;
      width: $buildingTitleF;
      height: $buildingTitleF;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      margin-right: $buildingTitleP;
    }
    b {
      font-size: inherit;
      padding-left: .05rem;
    }
  }

}

@each $key, $color, $icon in $buildingColor {
  .#{$key} {
    color: $color;
    i {
      background-image: url("../../../images/look_#{$icon}@2x.png");
    }
  }
}

.close {
  position: absolute;
  // TODO：去掉title右边关闭按钮
  width: 0;
  height: 0;
  top: 5px;
  right: 5px;
}

.content {
  color: #333333;
  display: table;
  width: 100%;
  height: 100%;
  line-height: 0.18rem;
  padding: 0.08rem;

  .cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.dialog {
  //box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
  position: absolute;
  background-color: #fff;
  //width: 80%;
  //top: 30%;
  //left: 50%;
  //margin-left: -40%;
  //top: 100%;
  bottom: 0;
  width: 100%;
  transform: translate3d(0, 100%, 0);
  animation: show-mask 0.25s ease-out forwards;
}

.close-dialog {
  //box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
  position: absolute;
  background-color: #f0f2f9;
  bottom: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
  animation: dialog-close 0.25s ease-out forwards;
}

@keyframes show-mask {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes dialog-close {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes show-overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@media all and (min-width: 1200px) {
  .dialog {
    width: 800px;
    margin-left: -400px;
  }
}
