/**
 * Created by Amg on 2017/1/12.
 */

.buttons {
  width: 100%;
}

.button {
  padding: 0.5em 1em;
  border-radius: 2px;
  background-color: #fff;
}

.close {
  width: 42%;
  margin-right: 3%;
  border: 1px solid #ccc;
}

.confirm {
  width: 55%;
  background: #ff461f;
}

.prompt {
  font-size: .1rem;
}


