$borderBottomColor: #F3F3F3;
$canClickBtnBgColor: #FF8212;
$canClickBtnColor: #fff;
$noClickBtnBgColor: #ccc;
$noClickBtnColor: #aaa;
$inputHeight: .45rem;
$spanHeight: .44rem;
$focusBorderColor: #2685E3;