@import "./var";

.logo {
  height: 1.3rem;
  background: url('../../images/quote_login_logo@2x.png') no-repeat center;
  background-size: .65rem .65rem;
}

form.form-login {
  width: 100%;
  div {
    height: $inputHeight;
    width: 100%;
    margin: 0.1rem 0;
    box-sizing: border-box;
    position: relative;
    input {
      display: block;
      width: 100%;
      height: $inputHeight;
      padding-left: .35rem;
      border-bottom: 0.01rem solid $borderBottomColor;
      &:focus {
        border-bottom-color: $focusBorderColor;
      }
    }
    span {
      position: absolute;
      display: block;
      height: $spanHeight;
      line-height: $spanHeight;
    }
    .icon {
      right: 0;
      top: 0;
      width: 0.35rem;
      border-bottom: 0.01rem solid $borderBottomColor;
    }
    .account-right {
      background: url('../../images/Correct@2x.png') no-repeat center center/50% auto;
    }
    .account-error {
      background: url('../../images/close@2x.png') no-repeat center center/50% auto;
    }
    .hide-password {
      background: url('../../images/eye_open@2x.png') no-repeat center center/85% auto;
    }
    .show-password {
      background: url('../../images/eye_close@2x.png') no-repeat center center/85% auto;
    }
  }
}

.login {
  width: 100%;
  border: none;
  height: 0.5rem;
  margin-top: 0.3rem;
  input {
    width: 100%;
    height: 100%;
    border-radius: 0.05rem;
    margin: 0;
  }
  .pass {
    background: $canClickBtnBgColor;
    color: $canClickBtnColor;
  }
  .no-pass {
    background: $noClickBtnBgColor;
    color: $noClickBtnColor;
  }
}

.forget {
  display: table;
  height: 0.3rem;
  font-size: 0.14rem;
  width: 100%;
  .tr {
    display: table-row;
    width: 100%;
  }
  .td {
    display: table-cell;
    width: 50%;
  }

  input {
    line-height: 0.3rem;
    color: #FF8E30;
  }

  .td:last-child {
    text-align: right;
  }

}

.register {
  position: absolute;
  bottom: 0.15rem;
  width: 90.34%;
  height: 0.5rem;
  margin: 0;
  border: 0.01rem solid #FF8212;
  border-radius: 0.05rem;
  input {
    width: 100%;
    height: 100%;
    color: #FF8212;
  }
}
