.gold{
  background: #f2f2f2;
  height: 100%;
}
.mains{
  border-bottom: 1px solid #efecec;
  background: #fff;
  padding: .1rem;
}
.mains>div{
  display: inline-block;
  width: 50%;
  line-height: .3rem;
}
.mainRight{
  text-align: right;
}
.mains i{
  display: inline-block;
}

.notMore{
  margin: .2rem 0;
  text-align: center;
}