.userSet{
  background: #f2f2f2;
  height: 100%;
}

.main{
  li{
    padding: 0 .2rem;
    line-height: .4rem;
    height: .4rem;
    background-color: #fff;
    border: 1px #f5f5f5 solid;
  }

  li span{
    display: inline-block;
    width: 49%;
  }

  .listLeft{
    font-weight: bold;
  }
  .listRight {
    text-align: right;
    padding-right: .2rem;
    background: url('../../images/icon_more@2x.png') no-repeat right;
  }

  .out{
    line-height: .4rem;
    height: .4rem;
    background-color: #fff;
    margin-top: .3rem;
    text-align: center;
    font-weight: bold;
  }
}
