@import "./valViews";

$navList: 'home', 'broker', 'user';
.footer {
  height: 100%;
  width: 100%;
  ol {
    width: 100%;
  }
}

.nav-item {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    span {
      display: inline-block;
      height: 100%;
      background-position: center .05rem;
      background-size: .22rem;
      background-repeat: no-repeat;
      padding-top: .3rem;
      color: gray;
      width: .44rem;
    }
  }
}

.active {
  color: $bgColor;
}

@each $nav in $navList {
  .#{$nav} {
    b {
      //background-image: url("../images/#{$nav}");
    }
  }
}

// sample 1
@include retina-images((
        '.home':'../images/transaction_normal',
        '.broker':'../images/broker_normal',
        '.user':'../images/user_normal',
        '.active.home':'../images/transaction_press',
        '.active.broker':'../images/broker_press',
        '.active.user':'../images/user_press',
));


