$navList: 'home', 'broker', 'rule', 'user';
.footer {
  height: 100%;
  width: 100%;
  ol {
    width: 100%;
  }
}

.nav-item {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

@each $nav in $navList {
  .#{$nav} {
    b {
      display: inline-block;
      width: .1rem;
      height: .1rem;
      //background-image: url("../images/#{$nav}");
    }
  }
}


