.header {
  height: 100%;
  padding-top: 10px;
  margin-left: 30%;
  width: 40%;
  button {
    display: inline-block;
    width: 50%;
    height: 90%;
    padding: 5px;
    background: transparent;
    color: #fff;
    text-align: center;
    box-shadow: -0.01rem -0.01rem #e6cece,
    0.01rem 0.01rem #ab8d8d;

    cursor: pointer;
  }
}


