.left-nav {
  position: absolute;
  top: 0;
  left: -75%;
  width: 75%;
  height: 100%;
  background: #fff;
  .header {
    display: table;
    table-layout: fixed;
    height: 1.4rem;
    width: 100%;
    background: #1195DA;
    & > div {
      display: table-row;
    }
  }
  .logo {
    display: table-cell;
    width: 40%;
    position: relative;
    span {
      position: absolute;
      right: 0;
      top: 0.3rem;
      display: block;
      width: 0.8rem;
      height: 0.8rem;
      overflow: hidden;
      border-radius: 100%;
      background: #B8C6CD;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .active-org-name {
    display: table-cell;
    line-height: 1.4rem;
    padding-left: 0.05rem;
    width: 60%;
    font-size: 0.16rem;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .org-name {
    padding-left: 0.3rem;
  }
  .list-name > li {
    position: relative;
    padding: 0.1rem 0;
    font-size: 0.16rem;
    border-bottom: 0.01rem solid #CEE9F8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666666;
    &.active {
      color: #1195DA;
      span{
        background: url("../images/Correct@2x.png") no-repeat center center/50% auto;
      }
    }
    span {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0.4rem;
      height: 100%;
    }
  }
}
