.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  //animation: show-mask 0.6s ease-out forwards;
}

@keyframes show-mask {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(75%, 0, 0);
  }
}