
.direct {
}

.direct [data-direct-img] {
  position: absolute;
  width: 16.56rem;
  left: 0;
  height: 100%;
}

.direct [data-img] {
  float: left;
  width: 4.14rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.direct [data-img] img {
  width: 100%;
  height: 100%;
}

.help {
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.ad {
  background-size: 100%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  left: 50%;
  margin-left: -0.2rem;
  bottom: 0.1rem;
}