@import "normalize";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

html { font-size: 625%;/*10 ÷ 16 × 100% = 62.5%*/ }

body {
  font-family: SimSun, helvetica, arial, sans-serif;
  //font-size: 12px;
  font-size: .12rem;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}


a {
  text-decoration: none;
}

ul, li, ol, h3, table, td, th, tr {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.table {
  display: table;
  table-layout: fixed;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}


.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: .4rem 0 .3rem;
  background-color: #EFEFF5;
}

header {
  position: absolute;
  top: 0;
  height: .4rem;
  width: 100%;
  background-color: #fe8228;
}

section {
  height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  height: .35rem;
  width: 100%;
  border-top: .01rem #c0c0c0 solid;
  background: #fff;

}




