@import "normalize";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 625%; /*10 ÷ 16 × 100% = 62.5%*/
}

body {
  font-family: Roboto, helvetica, arial, sans-serif;
  font-size: .12rem;
  position: relative;
  overflow: hidden;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar{
  width:0;
  height:0;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

input, textarea {
  -webkit-user-select: auto; /*webkit浏览器*/
}

ul, li, ol, h3, table, td, th, tr {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input, button, textarea {
  border: none;
  background: transparent;
  outline: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent; /* For some Androids */

}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.table {
  display: table;
  table-layout: fixed;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

#root {
  width: 100%;
  height: 100%;
}

.wrap {
  position: relative;
  height: 100%;
  width: 100%;
  //min-height: 5.5rem;
  padding-top: .66rem;
  background-color: #EFEFF5;
  transition: left 0.4s ease-out;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #FF9D45;
}

section {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: .01rem #eae7e4 solid;
  background-color: #fff;
}

iframe {
  height: 100%;
  width: 100%;
}

.agreement {
  text-indent: 2em;
}




