@import "normalize";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 625%; /*10 ÷ 16 × 100% = 62.5%*/
}

body {
  font-family: SimSun, helvetica, arial, sans-serif;
  font-size: .12rem;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li, ol, h3, table, td, th, tr {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.table {
  display: table;
  table-layout: fixed;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}



input {
  border: none;
  background: transparent;
  outline: none;
}

#root > div:first-child {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 5.5rem;
  transition: left 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.content > div:last-child {
  padding: 0.42rem 4.83% 0;
  height: 100%;
  font-size: 0.14rem;
}

.header {
  position: absolute;
  width: 100%;
  height: 0.4rem;
  padding: 0.05rem 0;
  text-align: center;
  line-height: 0.3rem;
  color: #fff;
  background: rgb(254, 130, 40);
  font-weight: bold;
  font-size: 0.16rem;
  word-spacing: 0.03rem;
  letter-spacing: 0.03rem;
  .back {
    position: absolute;
    left: 0.05rem;
    width: 0.3rem;
    height: 0.3rem;
    background: url('../images/back@2x.png') no-repeat center center/auto 80%;
  }
}

.indend-2 {
  text-indent: 2em;
}

.show-left-nav {
  left: 75%;
}

.hide-left-nav {
  left: 0;
}




