@import "../valViews";

$padding: .1rem;

.user {
  height: 100%;
  width: 100%;
  color: #fff;
}

.info {
  width: 100%;
  background-color: $bgColor;
}

.avatar {
  text-align: center;
  padding-top: $padding;
  font-size: 0;

  img {
    height: .8rem;
  }
}

.middle {
  width: 100%;
  padding: $padding 25% 0;
  font-size: .15rem;
  font-weight: bold;

  div {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  button {
    display: inline-block;
    width: 42%;
    height: .3rem;
    max-height: 100%;
    margin: 0 4%;
    color: inherit;
    background: transparent;
    box-shadow: -0.01rem -0.01rem #e6cece,
    0.01rem 0.01rem #ab8d8d;
    border-radius: 0.05rem/.1rem;
  }

  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: .3rem;
  }
  a {
    color: inherit;
    display: inline-block;
  }
}

.asset {
  padding: 2*$padding 0;
  width: 100%;
}

.asset-item {
  text-align: center;
  vertical-align: middle;
  span {
    display: inline-block;
    padding: 0.03rem 0;
    width: 100%;
  }
}

.asset-amount {
  font-size: .14rem;
  font-weight: bold;
}

.check-channel {
  height: .4rem;
  width: 100%;
  background: #fff;
  li {
    text-align: center;
    vertical-align: middle;
  }
}
.links {
  margin-top: .05rem;

  li{
    line-height: .4rem;
    background-color: #fff;
    border: 1px #f3f3f3 solid;
    padding: 0 .25rem;
    //background: url("../1.png") no-repeat right ;
  }
  a:last-child li{
    margin-top: .2rem;
  }
  .itemName{
    margin-top: .1rem;
  }
  span{
    margin-left: .1rem;
    color: #000;
  }
  li img{
    width: 10%;
    vertical-align: middle;
  }
}




@mixin bg-image($names,$ratio:1) {
  @each $cls, $name in $names {
    $ratioString: if($ratio != 1, "@#{$ratio}x", "");
    @if $name {
      #{$cls} {
        background-image: url(#{$name}#{$ratioString}.png) ;
        background-repeat: no-repeat;
      }
    } @else {
      background-image: url(#{$cls}#{$ratioString}.png);
      background-repeat: no-repeat;
    }
  }
}

@mixin channel-image($names,$ratios) {
  @each $r in $ratios {
    @if $r != 1 {
      @media only screen and (-webkit-min-device-pixel-ratio: $r) {
        @include bg-image($names, $r);
      }
    } @else {
      @include bg-image($names);
    }
  }
}

@mixin channel-images($names) {
  @include channel-image($names, (2, 3));
}

@each $ddd in 'pay', 'withdraw' {
  .channel-#{$ddd} {

  }

}

// sample 1
@include channel-images((
        '.channel-pay': '../../images/me_icon_pay',
        '.channel-withdraw': '../../images/me_icon_withdraw'
));


