.hold{
  background: #f2f2f2;
  height: 100%;
}

.holdValue{
  height: 1.1rem;
  text-align: center;
  padding-top: .2rem;
  background-color: #ff9d45;
  color: #fff;
  .profit {
    font-size: .5rem;
  }
}
.nameList{
  height: .5rem;
  background-color: #FEA461;
  text-align: center;
  white-space: nowrap;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  li{
    display: inline-block;
    width: 33.4%;
    border-right: 1px #bdbdbd solid;
    margin-top: .18rem;
  }
  li:last-child{
    border-right: 0;
  }
}
.holdList{
  margin-top: .1rem;
}