i{
  font-style: normal;
}
.track{
  //height: 100%;
  //padding: 0 .15rem;
  background-color: #fff;
}
.main{
  padding: .15rem .15rem 0 .15rem;
}
.mains{
  border-bottom: 1px solid #efecec;
  .product　{
    font-size: .15rem;
    display: inline-block;
    width: .5rem;
  }
  .icon {
    background-color: red;
    padding: 3px;
    color: #FFFFFF;
    border-radius: 3px;
    margin-right: .1rem;
  }
  .money {
    color: red;
  }
  i {
    color: #606060;
  }
  .cover {
    background-color: red;
    color: #FFFFFF;
    padding: 3px;
    border-radius: 3px;
    margin-left: 10px;
  }
}
.mains>div{
  display: inline-block;
  width: 50%;
  line-height: .2rem;
}
.mains i{
  width: .6rem;
  display: inline-block;
}
.mains>div:nth-child(odd) i{
  width: .5rem;
}
.mains p{
  margin: .1rem 0;
}
//.mains span{
//  margin-left: 0.1rem;
//}
.notMore{
  padding: .1rem 0;
  text-align: center;
}