/**
 * Created by Amg on 2017/1/11.
 */

$playColor: ("on":#3b85d9, "off":#899198);
$avatarH: .4rem;
$infoPaddingTop: .12rem;
$infoPaddingBottom: .08rem;
$infoPaddingLeft: .1rem;
$buildingH: .6rem;
$tipsH: .2rem;
$commodityH: $avatarH;
$colorRed: #F84142;
$colorGray: #afaaaa;
$buildingColor: ('bullish', $colorRed, 'up'), ('bearish', #55CF69, 'down');
$buildingTitleH: .36rem;
$buildingTitleF: .16rem;
$buildingTitleP: .03rem;
$buildingBtnF: .14rem;
$buildingFont: .12rem;
$buildingBtnP: .4rem;
$holdListF: .12rem;
