.home {
  height: 100%;
  width: 100%;
  font-family: 微软雅黑;
}

.building-button {
  height: 13%;
  width: 100%;
  padding: .08rem .15rem;
  background-color: #FFFFFF;
  img {
    width: 0px;
    height: 100%;
    vertical-align: middle;
    opacity:0;
  }
  span {
    display: inline-block;
    width: 49%;
    padding: .12rem;
    text-align: center;
    border-radius: 3px;
    color: #FFFFFF;
  }
  .bullish {
    background-color: #F84142;
  }
  .bearish {
    background-color: #55CF69;
    margin-left: 2%;
  }
}
.exchange-hour {
  height: 4%;
  width: 100%;
  background-color: #EFEFF4;
  text-align: center;
  img {
    width: 0px;
    height: 100%;
    vertical-align: middle;
    opacity:0;
  }
  span {
    color: #CACACE;
    font-size: .1rem;
  }
}