.chart{
  height: 100%;
  width: 100%;
}

.line {
  height: 2%;
}
.commodity-quotations {
  height: 18%;
  width: 100%;
  ul {
    height: 100%;
    background-color: #EFEFF4;
  }
  ul li {
    list-style-type: none;
    display: inline-block;
    height: 100%;
    width: 33.33%;
    //width: 50%;
  }
  .quotations-info {
    width: 60%;
    text-align: center;
    margin-top: .1rem;
  }
  span {
    display: block;
  }

}
.trend-chart {
  width: 100%;
  height: 80%;
  background-color: red;
}

.quotations-choose {
  border-top: 1.5px solid #F8812C;
  background-color: #E0EEFF;
}