@import "../_val-home";

.quotes {
  height: 100%;
  width: 100%;
  position: relative;
}

.commodity {
  padding-top: 0.1rem;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #EFEFF4;
  &::-webkit-scrollbar {
    display: none
  }
  li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    height: 100%;
    min-width: 33.33%;

    span {
      display: block;
    }
  }
}

.trend-chart {
  width: 100%;
}

.quotations-choose {
  border-top: 1.5px solid #F8812C;
  background-color: #E0EEFF;
}

.active {
  border-top: 1px gray solid;
}

.canvas{
  height: 70%;
}
.timeList {
  height: .4rem;
  background-color: #f1e9e9;
  text-align: center;
  white-space: nowrap;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  li{
    display: inline-block;
    width: 20%;
    border-right: 1px #ced4d4 solid;
    margin: .12rem 0 0 2px;
    font-size: .18rem;
  }

  //li:last-child{
  //  border-right: 0;
  //}
}
.action{
  color: #FF8212;
  border: 1px #ff8212 solid;
  padding: .1rem;
}