@import "../_val-home";

.quotes {
  height: 100%;
  width: 100%;
  position: relative;
}

.commodity {
  padding-top: 0.1rem;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #EFEFF4;
  display: table;
  table-layout: fixed;
  &::-webkit-scrollbar {
    display: none
  }
  li {
    list-style-type: none;
    padding: .09rem;
    //height: 100%;
    display: inline-block;
    //display: table-cell;
    //width: 50%;

    div {
      display: inline-block;
      width: 70%;
    }
    span {
      display: block;
      width: 100%;
    }
    .showImg {
      display: inline-block;
      width: .21rem;
      height: .17rem;
      float: right;
    }
  }
}

.trend-chart {
  width: 100%;
}

.quotations-choose {
  border-top: 1.5px solid #F8812C;
  background-color: #E0EEFF;
}

.active {
  border-top: 1px gray solid;
  background-color: #b9e3ff;
  color: #000;
}

.canvas{
  height: 70%;
}
.timeList {
  height: .4rem;
  background-color: #f1e9e9;
  text-align: center;
  white-space: nowrap;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  li{
    display: inline-block;
    width: 20%;
    border-right: 1px #ced4d4 solid;
    margin: .12rem 0 0 2px;
    font-size: .18rem;
  }

  //li:last-child{
  //  border-right: 0;
  //}
}
.action {
  color: #FF8212;
  border: 1px #ff8212 solid;
  padding: .1rem;
}
.quotesInfo {
  li {
    width: 25%;
    display: inline-block;
    text-align: center;
  }
}